  <div class="jumbotron">
    <h1 class="title">grow_up</h1>
    <p class="slogan">grow_up 是一个提供结构化记录日志的网站。
    <br>
    我们希望藉由这个网站，能让大家科学清晰的记录自己每天的成长。
    <br>
    成长看的见，幸福每一天
    </p>
    <p class="lead"><a class="btn btn-lg btn-danger" href="/oridposts">马上行动</a></p>
  </div>
  
