<div class="pull-right">
  <%= link_to("Add a oridpost", new_oridpost_path, :class => "btn btn-default" ) %>
</div>

<table class="table table-bordered">
  <% @oridposts.each do |oridpost| %>
  <tr>
    <td>
      <%= link_to(oridpost.title, oridpost_path(oridpost)) %>
    </td>
    <td>
      <%= oridpost.user.email %>
    </td>
    <td>
      <%= oridpost.created_at %>
    </td>
  </tr>
  <% end %>
</table>
